################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/PDV/FileContentIndex/4a2355fd-9205-47f8-b141-8ec5d0baa970.vsidx
/.vs/Start_Pira/FileContentIndex
