################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/PDV/FileContentIndex/4a2355fd-9205-47f8-b141-8ec5d0baa970.vsidx
/.vs/Start_Pira/FileContentIndex
/PDV.ObjetoTransferencia/obj/Debug/Start_Pira.ObjetoTransferencia.csproj.AssemblyReference.cache
/.vs/Start_Pira/v17/.suo
/PDV.ObjetoTransferencia/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/.vs/Caixa-Start-Pira/FileContentIndex
/PDV.AcessoBancoDados/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/PDV.Negocios/obj/Debug/Start_Pira.Negocios.csproj.AssemblyReference.cache
/PDV.Negocios/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/PDV.Componentes/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/PDV.Apresentacao/obj/Debug/Start_Pira.Apresentacao.csproj.AssemblyReference.cache
/PDV.Apresentacao/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/PDV.AcessoBancoDados/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/PDV.AcessoBancoDados/obj/Debug/Start_Pira.AcessoBancoDados.csproj.CoreCompileInputs.cache
*.txt
/PDV.Apresentacao/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/PDV.Apresentacao/obj/Debug/Start_Pira.Apresentacao.csproj.AssemblyReference.cache
/PDV.Componentes/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/PDV.Negocios/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/PDV.Negocios/obj/Debug/Start_Pira.Negocios.csproj.AssemblyReference.cache
/PDV.ObjetoTransferencia/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/PDV.ObjetoTransferencia/obj/Debug/Start_Pira.ObjetoTransferencia.csproj.AssemblyReference.cache
